body {
    font-family:'Open Sans', Arial;
}
/********************************GRID**********************/
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;

    /*min-width: 320px;*/
}
.wrap-flex-block {
    display: flex;
    flex-direction: row;

    /*flex-wrap: wrap;*/
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5 {
    margin: 0;
}

/********************change color**************/
.block-change-bg-color {
    background: #efefef;
}
.bg-change-red {
    background: #d05054;
    border-left: 10px solid #bd2d30;
    display: inline-block;
    width: 100%;
}
.bg-change-blue {
    border-left: 10px solid #2b3945;
    display: inline-block;
    width: 100%;
    background: #3f5264;
}
/**************************indent**********************/
.indent-title {

}
/**********************Header**************************/
header {
    background: #d34346;
    border-bottom: 10px solid #bd2d30;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    display: inline-block;
    background: url("../images/logo-01.svg");
    background-repeat: no-repeat;
    font-size: 25px;
    line-height: 1.2;
    text-align: right;
    font-weight: bold;
    padding-left: 43px;
    color: #ffffff;
    width: 124px;
    height: 26px;
}
/********************Menu**************************/
.menu-wrapper {
    /*width: 20%;*/
    text-align: center;
    position: relative;
}

.menu-hamburger {
    font-size: 2em;
    display: inline-block;
    /*padding: calc(10% - .5em);*/
    text-decoration: none;
    color: #ea5a4b;
}
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    min-width: 12em;
    text-align: center;
    background: rgb(211, 67, 70);
}

.menu a {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.33333em;
    display: block;
    /*margin: 0 2% 5% 2%;*/
    padding: 3% 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #252525;
}

.menu a:hover {
    color: #fff;
}

.menu-wrapper:hover .menu {
    display: block;
    z-index: 2;
}
/*********************menu*********************************/

.menu {
    display: none;
}
.menu-hamburger{
    display: inline-block;
}
.menu a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
    text-align: center;

}
.menu a:hover {
    background: #bd2d30;
}
.social{
    display: inline-block;
}
.social .fa {
    color: #fff;
    opacity: 0.8;
}
/****************promo*****************************/
.promo .container{
    position: relative;
}
.promo img{
    width: 100%;
}
.block-intro {

}
.text-block {
    position: absolute;
}

.slide-title {
    font-size: 25px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight:normal;
    text-align: left;
    margin: 0;

}
.slide-title span {
    font-weight:bold;
}
.promo .text-block p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    margin: 0;
}
/***********************block-intro*****************************/

.wrap-intro {
    display: flex;
}
.block-intro {
    justify-content: space-between;
    margin-bottom:78px;
}
.wrap-intro h3 {
    font-size: 20px;
    color: rgb(189, 44, 48);
    line-height: 1.2;
    text-align: left;
    font-weight:normal;
}

.pull_right p {
    font-size: 14px;
    color: rgb(33, 33, 33);
    line-height: 1.5;
    text-align: left;
}
.block-intro .fa {
    font-size: 32px;
    color: rgb(44, 62, 80);
    line-height: 1.2;
    text-align: left;
}
.pull_right {
    max-width: 200px;
    margin-left: 24px;
}
    /*****************************Profile Block*********************************/
.profile-block {
    background: #efefef;
}
.title {
    color: #ffffff;
}
.indent-title {
    padding-top: 12px;
    padding-left: 21px ;
    padding-bottom: 12px;
    box-sizing: border-box;
}
.profile-wrap {

}
article h4 {
    font-size: 25px;
    color: rgb(44, 62, 80);
    line-height: 30px;
    text-align: left;
    font-weight: 800;
}
.text-wrap  {
    text-align: center;
}
.text-wrap span .fa {
    font-size: 44px;
    color: #bd2c30;
    margin: 0;

}
blockquote {
    background: #fff;
    padding: 34px 32px;
    box-sizing: border-box;
    margin: 0;
}
blockquote p{
    margin: 0;
}
blockquote::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width:0 46px 57px 0;
    margin: 0 -33px 0;
    border-color: transparent #ffffff transparent transparent;
}
.author-cite{
    font-size: 14px;
    color: rgb(189, 45, 48);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
.analysis {
    background: url("../images/analisys.svg") center center;
    background-repeat: no-repeat;
    width: 54px;
    height: 44px;
    display: inline-block;
}
.text-wrap h5 {
    font-size: 20px;
    color: rgb(189, 44, 48);
    line-height: 1.2;
    text-align: center;
}
.text-wrap  p{
    font-size: 12px;
    color: rgb(33, 33, 33);
    line-height: 1.5;
    text-align: left;
}
    /**************************offer-block********************************/
.offer-wrap {
    justify-content: space-between;
    align-content: stretch;
}
.offer-block {
    background: #FFF;
}
.text-wrap{
    width: 16%;
}
.offer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.offer-block h5 {
    box-sizing: border-box;
}
.offer-block a{
    background: #314559;
    color: #FFFFFF;
    text-align: center;
}
.offer-block ul li {
    list-style: none;

}
.offer-block ul li::before {
    content: '';
    background: url("../images/checkbox-marker.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 19px;
    height: 16px;
    display: inline-block;
}
.offer-change-color-list ul li::before{
    background-position: -20px 0;
}
.offer-block .color-link  {
    background: #d34346;
}


/*******************************FOOTER*****************************/
footer {
    background: #314559;
}
footer .container {
    justify-content: space-between;
}
footer div{
    display: inline-block;
}
.copyright span {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}
.block-author span {
    font-size: 12px;
    color: rgb(118, 148, 179);
    line-height: 1.2;
    text-align: left;
}
.upper {
    width: 31px;
    height: 31px;
    background: url("../images/arrowblue.svg");
    background-repeat: no-repeat;
    display: inline-block;
}

/*********************************Media SCREEN***********************/
@media screen and (min-width: 640px){
    .menu-hamburger {
        display: none;
    }
    .menu-wrapper {
        display: block;
    }

    .menu-wrapper:hover .menu {
        display: block;
    }

    .menu {
        display: block;
        position: static;
        min-width: 16em;
        text-align: right;
        background: none;
    }

    .menu-hamburger {
        display: none;
    }
    .menu a {
        padding: 37px 29px 32px;
        box-sizing: border-box;
        display: inline-block;
    }
    .promo{
        margin-bottom: 70px;
    }
    .text-block {
        max-width: 570px;
        bottom: 0;
        left: 0;
        margin-bottom: 60px;
    }
    .indent {
        padding-left: 22px;
        padding-top: 8px;
        padding-bottom: 21px;
    }
    article{
        width: 30%;
        margin-bottom: 55px;
        margin-right: 5%;
    }
    article:last-child{
        margin-right: 0;
    }
     h2 {
        margin-bottom: 55px;
    }

    .slick-prev {
        background: url("../images/button-arrow-sprite.svg") 0 0;
        left: 0;
    }
    .services . h2{
        margin-bottom: 75px;
    }
}